#title{
    font-size: 35px;
    /*position: absolute;*/
    left: 300px;
    top:50px;
    text-align:center
  }
  
  #select-name{
    font-size: 20px;
    /*position: absolute;*/
    left: 500px;
    top:235px;
    /*background-color: lightgrey;*/
    text-align:center
  }
  
  #select-id{
    font-size: 20px;
    /*position: absolute;*/
    left: 500px;
    top:235px;
    /*background-color: lightgrey;*/
    text-align:center
  }
  
  #text1{
    font-size: 20px;
    /*position: absolute;*/
    left: 345px;
    top:235px;
    text-align:center
  }
  
  #clickButton{
    left: 200px;
    top:100px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    text-align:center
  }
  
  #delete-all{
    left: 200px;
    top:100px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    text-align:center
  }
  
  #nav {
    line-height:30px;
    background-color:#eeeeee;
    height:600px;
    width:300px;
    float:left;
    padding:5px; 
    text-align:center;
    margin-left:10px;
    overflow-y:scroll; 
    overflow-x:scroll;}
  
  #section {
    width:800px;
    float:left;
    padding:10px; 
  }
  
  #Name{
    background-color:white;   
    padding:5px; 
    text-align:center
  }
  
  