body {
    background-color: rgba(252, 237, 204, 0.93);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 15px;
  }
  
  h1 {
    color: #FA6914;
    font-size: 26pt;
    font-family: STKaiti;
    text-align: center;
    margin-top: 30px;
  }
  p {
    color: #817F7F;
    font-size: 12pt;
    text-align: right;
    letter-spacing:3px;
  }
  #beijing{text-align:right;}
  #list{text-align:center}
  #to-do-list {
    font-family: YouYuan;
    font-size: 14pt;
    color: rgba(96, 149, 155, 0.93);
    text-align: center;
    list-style-type: none;
    line-height:30px;
  
  }
  #anniu{
    text-align:right;
  }  
  #button{
    text-align:right;
  } 
  #name {
    font-family: STKaiti;
    font-size: 28pt;
    text-align: right;
    margin-top: 40px;
    -webkit-user-select: none;
    user-select: none;
    letter-spacing:4px;
  }
  #studentid_id {
    font-family: STKaiti;
    font-size: 20pt;
    text-align: right;
    margin-top: 60px;
    -webkit-user-select: none;
    user-select: none;
    letter-spacing:2px;
  }


